<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
			   The aim of this conference is to provide a forum where international participants can share knowledge on the latest developments in digital learning strategies and applications.
			   Selected papers will be recommended to well-recognized international journals, including International Journal of Mobile Learning and Organisation and Journal of Computers in Education.

			  <h4> <b>Co-organized by: </b></h4><br />
			  <ul>
			  <font size="4">
					<li>Hokkaido University, Japan</li>
					<li>National Taiwan University of Science and Technology, Taiwan</li>
					<li>National Central University, Taiwan</li>
			  </font>
			  </ul>

			  
			  
			
			  
			  <h4> <b>Program Committee (more to be invited)</b></h4><br />
			  <ul>
			  <font size="4">
					<li>Ming Puu Chen, National Taiwan Normal University, Taiwan</li>
					<li>Ting-Chia Hsu, National Taiwan Normal University, Taiwan</li>
					<li>Pi-Hsia Hung, National University of Tainan, Taiwan</li>
					<li>Gwo-Haur Hwang, Ling Tung University, Taiwan</li>
					<li>Watcharee Ketpichainarong, Mahidol University, Thailand</li>
					<li>Chin-Hwa Kuo, Tamkang University, Taiwan</li>
					<li>Chih-Hung Lai, National Dong Hwa University, Taiwan</li>
					<li>Chen-Chung Liu, National Central University, Taiwan</li>
					<li>Gi-Zen Liu, National Cheng Kung University, Taiwan</li>
					<li>Hiroaki Ogata, Kyushu University, Japan</li>
					<li>Patcharin Panjaburee, Mahidol University, Thailand</li>
					<li>Lung Hsiang Wong, National Institute of Education, Singapore</li>
					<li>Po-Han Wu, National Taipei University of Education, Taiwan</li>
					<li>Chengjiu Yin, Kyushu University, Japan</li>
					<li>Shelley Shwu-ching Young, National Tsing Hua University, Taiwan</li>
					  </font>
			  </ul>


			  <h4> <b>Topics of the Conference</b></h4><br />
			  <ul>
			  <font size="4">
					<li>–	Emerging tools and technologies for learning</li>
					<li>–	Learning strategies for technology-enhanced learning</li>
					<li>–	Assessment strategies for technology-enhanced learning</li>
					<li>–	Development of digital content for learning</li>
					<li>–	Domain-specific applications of technology-enhanced learning, e.g., language, arts, engineering, science and social science</li>
					  </font>
			  </ul>



			 <h4> <b>Paper submissions</b></h4><br />
			 <ul>
			 <font size="4">
					<li>–	Maximum length: 2-4 pages, A4 size</li>
					<li>–	Language: English</li>
					<li>-   Paper format: <br />
					 
						(1)	Layout: A4 size with single column and single space;<br />
						(2)	Font: Times new Rome;<br />
						(3)	Font size and style: 16 and bold for paper title, 14 and bold for section title<br />, 12 and bold Italic for subsection titile,<br> and 12 for author information, main text and reference list.
						(4)	Refereces and citations: APA<br /></li>
					<li>–	Online submission via EasyChair <a href="https://easychair.org/conferences/?conf=dlsa2018"><h4><b>HERE</b></h4></a>.</li>
					  </font>
			 </ul>




			<h4> <b>Important Dates</b></h4><br />
			  <ul>
			  <font size="4">
					<li>–	Submission deadline: January 10, 2018</li>
					<li>–	Acceptance notification: February 10, 2018</li>
					<li>–	Final version deadline: February 20, 2018</li>
					  </font>
			  </ul>






            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
