<!-- Begin Blog-->
<section id="blog" class="blog" >

    <div class="content-wrapper text-left">
	
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
			   <font size="3">The aim of this conference is to provide a forum where international participants can share knowledge on the latest developments in digital learning strategies and applications.
			   <font color="red">Selected papers will be recommended to well-recognized international journals, including International Journal of Mobile Learning and Organisation and Journal of Computers in Education.</font></font>

			  <h4> <b>Topics of the Conference</b></h4><br />
			  <ul>
			  <font size="4">
					<li>–	Emerging tools and technologies for learning</li>
					<li>–	Learning strategies for technology-enhanced learning</li>
					<li>–	Assessment strategies for technology-enhanced learning</li>
					<li>–	Development of digital content for learning</li>
					<li>–	Domain-specific applications of technology-enhanced learning, e.g., language, arts, engineering, science and social science</li>
					  </font>
			  </ul>



			 <h4> <b>Paper submissions</b></h4><br />
			 <ul>
			 <font size="4">
					<li>–	Maximum length: 2-4 pages, A4 size</li>
					<li>–	Language: English</li>
					<li>-   Paper format: <br />
					 
						(1)	Layout: A4 size with single column and single space;<br />
						(2)	Font: Times new Rome;<br />
						(3)	Font size and style: 16 and bold for paper title, 14 and bold for section title<br />, 12 and bold Italic for subsection titile,<br> and 12 for author information, main text and reference list.<br />
						(4)	Refereces and citations: APA<br /></li>
					<li>–	Online submission via EasyChair <a href="https://easychair.org/conferences/?conf=dlsa2018"><h4><b>HERE</b></h4></a>.</li>
					  </font>
			 </ul>



            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
