<!-- Begin Schedule Section -->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
            <h3>Important Dates</h3><br />
			  <ul>
			  <font size="6">
					<li>Submission deadline: January 10, 2018</li>
					<li>Acceptance notification: February 10, 2018</li>
					<li>Final version deadline: February 20, 2018</li>
				</font>
			  </ul>
			 </div>
        </div>
       
    </div>
</section>
<!-- End Schedule Section -->
