<!-- Begin Team List-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
			   
			  <h4> <b>Co-organized by: </b></h4><br />
			  <ul>
			  <font size="4">
					<li>Hokkaido University, Japan</li>
					<li>National Taiwan University of Science and Technology, Taiwan</li>
					<li>National Central University, Taiwan</li>
			  </font>
			  </ul>

			  <h4> <b>Conference Organizers </b></h4><br />
			  <ul>
			  <font size="4">
					<li>Masanori Sugimoto, Hokkaido University, Japan</li>
					<li>Gwo-Jen Hwang, National Taiwan University of Science and Technology, Taiwan</li>
					<li>Jie-Chi Yang, National Central University, Taiwan</li>
			  </font>
			  </ul>
			  
			
			  
			  <h4> <b>Program Committee (more to be invited)</b></h4><br />
			  <ul>
			  <font size="4">
					<li>Ming Puu Chen, National Taiwan Normal University, Taiwan</li>
					<li>Ting-Chia Hsu, National Taiwan Normal University, Taiwan</li>
					<li>Pi-Hsia Hung, National University of Tainan, Taiwan</li>
					<li>Gwo-Haur Hwang, Ling Tung University, Taiwan</li>
					<li>Watcharee Ketpichainarong, Mahidol University, Thailand</li>
					<li>Chin-Hwa Kuo, Tamkang University, Taiwan</li>
					<li>Chih-Hung Lai, National Dong Hwa University, Taiwan</li>
					<li>Chen-Chung Liu, National Central University, Taiwan</li>
					<li>Gi-Zen Liu, National Cheng Kung University, Taiwan</li>
					<li>Hiroaki Ogata, Kyushu University, Japan</li>
					<li>Patcharin Panjaburee, Mahidol University, Thailand</li>
					<li>Lung Hsiang Wong, National Institute of Education, Singapore</li>
					<li>Po-Han Wu, National Taipei University of Education, Taiwan</li>
					<li>Chengjiu Yin, Kyushu University, Japan</li>
					<li>Shelley Shwu-ching Young, National Tsing Hua University, Taiwan</li>
					  </font>
			  </ul>
			</div>
		</div>	  
	</div>
</section>
<!-- End Team List -->
