<!-- Begin Team List-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3><b>Organization</b></h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
			   
			  <h4> <b>Co-organized by: </b></h4><br />
			  <ul>
			  <font size="4">
					<li>Hokkaido University, Japan</li>
					<li>National Taiwan University of Science and Technology, Taiwan</li>
					<li>National Central University, Taiwan</li>
			  </font>
			  </ul>

			  <h4> <b>Conference Organizers </b></h4><br />
			  <ul>
			  <font size="4">
					<li>Masanori Sugimoto, Hokkaido University, Japan</li>
					<li>Gwo-Jen Hwang, National Taiwan University of Science and Technology, Taiwan</li>
					<li>Jie-Chi Yang, National Central University, Taiwan</li>
			  </font>
			  </ul>
			  
			
			  
			  <h4> <b>Program Committee (more to be invited)</b></h4><br />
			  <ul>
			  <font size="4">
					<li>Chih-Kai CHANG, National University of Tainan, Taiwan </li>
					<li>Shao-Chen CHANG, National Taiwan Normal University, Taiwan </li>
					<li>Hsiu-Ling CHEN, National Taiwan University of Science and Technology, Taiwan </li>
					<li>Jun Ming CHEN, National Museum of Natural Science, Taiwan </li>
					<li>Ming Puu CHEN, National Taiwan Normal University, Taiwan </li>
					<li>Tosti Hsu Cheng CHIANG, National Taiwan Normal University, Taiwan </li>
					<li>Hui Chun CHU, Soochow University, Taiwan </li>
					<li>Tsung-Yen CHUANG, National University of Tainan, Taiwan </li>
					<li>Yoshiko GODA, Kumamoto University, Japan </li>
					<li>Ting Chia HSU, National Taiwan Normal University, Taiwan </li>
					<li>Chester S.J. HUANG, National Central University, Taiwan </li>
					<li>I-wen HUANG, National University of Tainan, Taiwan </li>
					<li>Hsiu-Ting HUNG, National Kaohsiung First University of Science and Technology, Taiwan </li>
					<li>Pi Hsia HUNG, National University of Tainan, Taiwan </li>
					<li>Gwo Haur HWANG, Ling Tung University, Taiwan</li> 
					<li>Hi-Lian JENG, National Taiwan University of Science and Technology, Taiwan </li>
					<li>Morris S. Y. JONG, Chinese University of Hong Kong, Hong Kong </li>
					<li>Gloria Yi-Ming KAO, National Taiwan University of Science and Technology, Taiwan </li>
					<li>Chih Hung LAI, National Dong Hwa University, Taiwan </li>
					<li>Chen-Yu LEE, Ling Tung University, Taiwan </li>
					<li>Kam Cheong LI, Open University of Hong Kong, Hong Kong</li>
					<li>Anthony Y. H. LIAO, Asia University, Taiwan </li>
					<li>Hao-Chiang Koong LIN, National University of Tainan, Taiwan </li>
					<li>Chen Chung LIU, National Central University, Taiwan </li>
					<li>Yi Chun LIU, Chia Nan University of Pharmacy & Science, Taiwan </li>
					<li>Hiroaki OGATA, Kyoto University, Japan </li>
					<li>Patcharin PANJABUREE, Mahidol University, Thailand </li>
					<li>Yanjie SONG, Education University of Hong Kong, Hong Kong </li>
					<li>Niwat SRISAWASDI, Khon Kaen University, Thailand </li>
					<li>Jun-Ming SU, National University of Tainan, Taiwan </li>
					<li>Han Yu SUNG, National Taipei University of Nursing and Health Sciences, Taiwan</li> 
					<li>Meng-Jung TSAI, National Taiwan University of Science and Technology, Taiwan </li>
					<li>Noriko UOSAKI, Osaka University, Japan </li>
					<li>Shu Ling WANG, National Taiwan University of Science and Technology, Taiwan </li>
					<li>Po Han WU, National Taipei University of Education, Taiwan </li>
					<li>Wen Chi Vivian WU, Asia University, Taiwan </li>
					<li>Haoran XIE, Education University of Hong Kong, Hong Kong </li>
					<li>Masanori YAMADA, Kyushu University, Japan </li>
					<li>Toshiyuki YAMAMOTO, Kansai University, Japan </li>
					<li>Stephen J.H. YANG, National Central University, Taiwan </li>
					<li>Hui-Chin YEH, National Yunlin University of Science and Technology, Taiwan </li>
					<li>Shelley Shwu Ching YOUNG, National Tsing Hua University, Taiwan</li>
					<li>Daisy Di ZOU, Hong Kong University of Science and Technology, Hong Kong</li>
					
					  </font>
			  </ul>
			</div>
		</div>	  
	</div>
</section>
<!-- End Team List -->
