<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
       <div class="col-lg-10 col-lg-offset-1">
			
			
			<center>
			<a href="https://www.global.hokudai.ac.jp"><img  src="{{ site.baseurl }}/img/university/HU.svg" height="230" width="230"></a>
			
			<a href="http://www.ntust.edu.tw/home.php"><img  src="{{ site.baseurl }}/img/university/English4.png" height="300" width="150"></a>
			<a href="http://www.ncu.edu.tw/"><img  src="{{ site.baseurl }}/img/university/NCU.png"></a>
			</center>
			
			
		</div>
		
	</div>
	
</section>
<!-- End Partners Section -->

