<!-- Begin Top Section -->
<section id="top-section" class="top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/blog1.jpg');"> 
    <div class="overlay gradient-overlay"></div>
    {% include navigation.html %}
	<div class="content-wrapper text-center">
	    <div class="jumbotron">
	        <div class="animated hiding" data-animation="fadeInLeft" data-delay="500">
	           <h1>The 3rd International Conference on <br /> Digital Learning Strategies and Applications</h1>
		<h2><b>DLSA 2018</b></h2>
		<h4>Sapporo, Hokkaido, Japan</h4>
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
           <!-- <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>-->
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
		
	    </div>
		
    </div>
</section>
<!-- End Top Section -->